In [341]:
import pandas as pd
import sys
import os

Hello Welcome to My Fantasy Football Project. I made this Juptyer notebook so that the code is easier to follow along with. You can run all the code in this Jupyter Notebook, or you can run main.py if you are just intereste in the output.

The code below sets the path for the Fantasy Football yearly data.  
`path="yearly"` sets the path in which we want to look for the data files  
`files=os.listdir(path)` creates a list of all of the files and directories in the path we are looking at. In this case there are only files in the path.

In [342]:
path="yearly/"
files=os.listdir(path)
#count=len(files)
#print(count)

The code in the next two code blocks below shows the shape and some of the content of one of the source files. I wanted to give a visual showing that the shape of the source CSV files is different from the final CSV. Specifically, I look at of the 2019.CSV file, which shows with all the columns and the first 5 rows of data for that file. This code is not necessary to the intent of the script and is not in main.py, it is simply used to show the change of the dataframes throughout the script.  
`sample=pd.read_csv("Yearly/2019.csv")` this will read the 2019.CSV file and make it a dataframe that can be reviewed.  
`print(sample.shape)` prints a the shape of the "sample" data frame. You will see the number of rows, followed by the number of columns.  
`sample.head()` shows the first 5 rows of the 2019.CSV source file to preview the data.

In [343]:
sample=pd.read_csv("Yearly/2019.csv")

In [344]:
print(sample.shape)
sample.head()

(620, 28)

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,...,FumblesLost,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints
0,0,Christian McCaffrey,CAR,RB,23.0,16.0,16.0,0.0,2.0,0.0,...,0.0,0.0,0.0,2.0,1387.0,15.0,287.0,1005.0,4.0,469.20
1,1,Lamar Jackson,BAL,QB,22.0,15.0,15.0,265.0,401.0,3127.0,...,2.0,3127.0,36.0,401.0,1206.0,7.0,176.0,0.0,0.0,415.68
2,2,Derrick Henry,TEN,RB,25.0,15.0,15.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,1540.0,16.0,303.0,206.0,2.0,294.60
3,3,Aaron Jones,GNB,RB,25.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1084.0,16.0,236.0,474.0,3.0,314.80
4,4,Ezekiel Elliott,DAL,RB,24.0,16.0,16.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1357.0,12.0,301.0,420.0,2.0,311.70

The code below initiates a list  
`df_list=[]` initiates a list to hold my list of data frames from the for loop in the subsequent code block

In [345]:
df_list=[]

The code below loops over the list of files created above.  
`data=pd.read_csv(path+f)` this will read the CSV file in each iteration of the loop and convert it to a data frame. It will read CSV files from the "yearly" directory. It reads 1970.CSV all the way up to 2019.CSV, with a CSV for each year in between.  
`data["Year"]=f[:4]` creates a new column in each data frame titled "Year". The year is stripped from the string name of the current CSV file in the iteration. The digits in index position 3,2,1 and 0 are returned to give us the year in which the player's stats are from.  
`df_list.append(data)` appends each newly created data frame to `df_list` which holds the list.

In [346]:
for f in files:
    data=pd.read_csv(path+f)
    data["Year"]=f[:4]
    df_list.append(data)

Continuing to show changes of the data through out the script, the code below shows the shape of the dataframe created from the last CSV source file in the iteration from the for loop above. It shows the shape of the dataframe and also shows the the first 5 rows of the dataframe. You  will see that the dataframe now has another column titled "Year". Again, this code is not necessary to the intent of the script and is not in main.py, it is simply used to show the change of the dataframes throughout the script.  
`print(data.shape)` this print the shape of the last dataframe in the iteration from the for loop above. You will see the number for rows, followed by the number of columns.  
`data.head()` this show the first 5 rows of the last dataframe to preview the data, notice that is has an extra column titled "Year"

In [347]:
print(data.shape)
data.head()

(620, 29)

,Unnamed: 0,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,...,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Year
0,0,Christian McCaffrey,CAR,RB,23.0,16.0,16.0,0.0,2.0,0.0,...,0.0,0.0,2.0,1387.0,15.0,287.0,1005.0,4.0,469.20,2019
1,1,Lamar Jackson,BAL,QB,22.0,15.0,15.0,265.0,401.0,3127.0,...,3127.0,36.0,401.0,1206.0,7.0,176.0,0.0,0.0,415.68,2019
2,2,Derrick Henry,TEN,RB,25.0,15.0,15.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1540.0,16.0,303.0,206.0,2.0,294.60,2019
3,3,Aaron Jones,GNB,RB,25.0,16.0,16.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1084.0,16.0,236.0,474.0,3.0,314.80,2019
4,4,Ezekiel Elliott,DAL,RB,24.0,16.0,16.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1357.0,12.0,301.0,420.0,2.0,311.70,2019

The code below concatenates or appends all the dataframes in `df_list` into one large data frame.

In [348]:
appended_data=pd.concat(df_list)

The code below drops one of the unneccesary columns.  
 `appended_data.drop(['Unnamed: 0'],axis=1,inplace=True)` removes the column with a header "Unamed:0".
 I then print the data frame to make sure it looks as I expect, this is not a necessary step, but rather one I used for verification.

In [349]:
appended_data.drop(['Unnamed: 0'],axis=1,inplace=True)
appended_data

,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,Int,...,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Year,Tgt
0,Ron Johnson,NYG,RB,23.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1027.0,8.0,263.0,487.0,4.0,261.40,1970,NaN
1,Dick Gordon,CHI,WR,26.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,0.0,4.0,1026.0,13.0,249.30,1970,NaN
2,Gene Washington,SFO,WR,23.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1100.0,12.0,235.00,1970,NaN
3,Gary Garrison,SDG,WR,26.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,4.0,1006.0,12.0,217.30,1970,NaN
4,MacArthur Lane,STL,RB,28.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,977.0,11.0,206.0,365.0,2.0,240.20,1970,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,Ray-Ray McCloud,CAR,0,23.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.00,2019,0.0
616,Darrius Shepherd,GNB,WR,24.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.90,2019,2.0
617,Jarrett Stidham,NWE,QB,23.0,3.0,0.0,2.0,4.0,14.0,1.0,...,0.0,4.0,-2.0,0.0,2.0,0.0,0.0,-1.64,2019,0.0
618,Michael Walker,JAX,WR,23.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,15.0,0.0,-0.50,2019,3.0
619,Corey Clement,PHI,0,25.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.00,2019,0.0

The code below removes rows with unwated data.  
 `appended_data=appended_data.query("Pos != '0'")` filters and removes all row for which a Player is listed, but their position is not.
 I then print the data frame to make sure it looks as I expect, this is not a necessary step, but rather one I used for verification.

In [350]:
appended_data=appended_data.query("Pos != '0'")
#appended_data

Continuing to show changes of the data through out the script, finally the code below shows the shape of the dataframe created after all the data from all the CSV files is concatenated into one data frame. The code shows the shape of the dataframe and also shows the the first 5 rows of the dataframe. You  will see that the dataframe has a column titled "Year". Again, this code is not necessary to the intent of the script and is not in main.py, it is simply used to show the change of the dataframes throughout the script.  
`print(appended_data.shape)` this prints the shape of the dataframe that has been created from the pandas concat method and that contains all of the combined data from all the source CSV files. This data frame is stored in a variable called appended_data. You will see the number for rows, followed by the number of columns.  
`appended_data.head()` this show the first 5 rows of the data frame named appended_data to preview the data, notice that is has an extra column titled "Year"

In [351]:
print(appended_data.shape)
appended_data.head()

(23144, 28)

,Player,Tm,Pos,Age,G,GS,Cmp,Att,Yds,Int,...,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Year,Tgt
0,Ron Johnson,NYG,RB,23.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1027.0,8.0,263.0,487.0,4.0,261.4,1970,NaN
1,Dick Gordon,CHI,WR,26.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,0.0,4.0,1026.0,13.0,249.3,1970,NaN
2,Gene Washington,SFO,WR,23.0,13.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1100.0,12.0,235.0,1970,NaN
3,Gary Garrison,SDG,WR,26.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,4.0,1006.0,12.0,217.3,1970,NaN
4,MacArthur Lane,STL,RB,28.0,14.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,977.0,11.0,206.0,365.0,2.0,240.2,1970,NaN

The code below writes the final concatenated dataframe to a final CSV output file for use in Tableau.  
 `appended_data.to_csv("Appended_FFL_data.csv",index=False)` converts the final large data frame to a CSV file so that it can be used in Tableau.

In [352]:
appended_data.to_csv("Appended_FFL_data.csv",index=False)

The code below prints a message so the user knows that they were succesful.   
 `print("Your Master CSV file has been created!")` prints a message to the user stating that the desired file has been created.

In [353]:
print("Your Master CSV file has been created!")

Your Master CSV file has been created!